# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

vulnerable-api/node_modules


src/server/modules/scanner/checks/auth.check.ts
src/server/modules/scanner/checks/commandInjection.check.ts
src/server/modules/scanner/checks/jwt.check.ts
src/server/modules/scanner/checks/nosqli.check.ts
src/server/modules/scanner/checks/sqli.check.ts
src/server/modules/scanner/checks/apiVersioning.check.ts
src/server/modules/scanner/checks/fileUpload.check.ts